body{
    background-image: url('https://th.bing.com/th/id/R.5119582b123c88717b17273d8367a144?rik=HoNGZklfmdoyCw&pid=ImgRaw&r=0');
}

#content1{
    padding: 50px;
    background-color: rgb(235, 235, 235); 
  
}

#content2{
    padding: 50px;
    background-color: rgb(235, 235, 235);
  
}

#Topic{
    text-align: center;
    padding-top: 100px;
    color: rgb(0, 0, 0);
}

#tpc{
    font-size: 5rem;
}

#navcntnt{
    font-size: xx-large;
}


#navigation{
    width: 100%;
    padding: 20px;
    justify-content: center;
    background-color: rgba(85, 85, 85, 0.452);  
    backdrop-filter: blur(5px);
    position: fixed;
    animation-name: starter;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}



#p1{
    padding: 10px; 
}
